/* Source: https://www.shadcnblocks.com/r/base-nova/theme/linear; SHA-256: 4fb4f4ec786454235ba32ae7425d48faa447e61475b61e5558ab7340508b4d25; license: https://www.shadcnblocks.com/license. */
:root[data-theme="linear"] {
  --background: oklch(0.9881 0 0);
  --foreground: oklch(0.2221 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.6076 0.1404 276.7418);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.2221 0 0);
  --secondary-foreground: oklch(0.9881 0 0);
  --muted: oklch(0.9439 0.004 286.3226);
  --muted-foreground: oklch(0.5561 0.011 273.2406);
  --accent: oklch(0.8963 0.0194 276.3236);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.5475 0.1038 77.6126);
  --border: oklch(0.931 0 0);
  --input: oklch(0.8051 0.0057 274.9478);
  --ring: oklch(0.5365 0.0025 17.2345);
  --chart-1: oklch(0.5296 0.0025 17.2358);
  --chart-2: oklch(0.5009 0.0975 171.0601);
  --chart-3: oklch(0.7107 0.0023 17.2118);
  --chart-4: oklch(0.3635 0.0731 168.628);
  --chart-5: oklch(0.3466 0.0028 17.2907);
  --sidebar: oklch(0.9881 0 0);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0.4368 0.0026 17.2571);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(1 0 0);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.904 0.0055 274.9596);
  --sidebar-ring: oklch(0.5365 0.0025 17.2345);
}

:root[data-theme="linear"].dark {
  --background: oklch(0.1735 0.002 286.1848);
  --foreground: oklch(0.9187 0.0029 264.5414);
  --card: oklch(0.2088 0.0042 264.4766);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.1452 0.0021 286.1313);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.9249 0 0);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.6518 0.1348 275.3355);
  --secondary-foreground: oklch(0.9187 0.0029 264.5414);
  --muted: oklch(0.1917 0.002 286.2102);
  --muted-foreground: oklch(0.7123 0.0045 271.3506);
  --accent: oklch(0.3331 0.0361 273.4393);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.721 0.113 95.0663);
  --border: oklch(0.2655 0.0094 276.7468);
  --input: oklch(0.3612 0.014 274.5258);
  --ring: oklch(0.6263 0.0064 264.5173);
  --chart-1: oklch(0.6292 0.0083 260.7307);
  --chart-2: oklch(0.6597 0.1295 170.7535);
  --chart-3: oklch(0.8227 0.0047 258.3273);
  --chart-4: oklch(0.4653 0.0954 166.9717);
  --chart-5: oklch(0.4347 0.0121 267.2367);
  --sidebar: oklch(0.139 0.0029 246.2561);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(0.9187 0.0029 264.5414);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.1349 0.0024 286.0738);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.2605 0.0058 271.1914);
  --sidebar-ring: oklch(0.6263 0.0064 264.5173);
}
